<h1>Budget</h1>

{% if categories_list %}

{% load static %}
<script type="text/javascript" src='{% static "js/jquery-3.1.1.min.js" %}' ></script>
{% load static %}
<script type="text/javascript" src='{% static "js/createBudget.js" %}' ></script>

<form action="{% url 'quickBudget:submit' %}" method="post">
    {% csrf_token %}

    <h3>Monthly Income</h3>
    <input type="number" name="incomeAmount" id="incomeAmount" value="0.00" />

    <h3>Expenses:</h3>
    <ul>
    {% for category in categories_list %}
        <h5>{{ category.name }}</h5>
        <input type="number" name="amount" class="categoryAmount" id="amount{{ forloop.counter }}" value="0.00" />
        <label>Amount:</label>
    {% endfor %}
    </ul>

    Total:
    <input id="total" type="number" disabled value="0.00" /><br><br>
    <input type="submit" value="Create" />
</form>
{% else %}
    <p>No categories are available.</p>
{% endif %}
    <a href="/quickBudget">Home</a>